/*
============================================
; Title: css file for web330
; Author: Chris Harris
; Date: 21 March 2021
; css file for the course
;===========================================
*/

/*
============================================
; Title: css file for web330
; Author: Chris Harris
; Date: 21 March 2021
; css file for the course
;===========================================
*/

.card {
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    
}

h1 {
    font-weight: 400;
    text-align: center;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: var(--card-title-color);
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: #000;
}

.btn-primary {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
}

.btn-primary:hover {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-color);
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-color: var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-color: var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

body{
    font-family: "Oswald", Verdana, Arial, sans-serif; 
    color: var(--text-color);
    background-color: var(--background-color);
}

body.light-theme{
    --text-color: #000;
    --background-color: #fff;
    --anchor-color: #4F3674;
    --h1-background-color: #3c275a;
    --h1-border-color: #D6A800;
    --heading-background-color: #3c275a;
    --heading-color: #fff;
    --heading-border-color: #D6A800;
    --anchor-hover-color: #4f3674;
    --anchor-hover-background-color: #D6A800;
    --card-background-color: #fff;
    --card-title-color: #4F3674;
    --btn-background-color: #4F3674;
    --btn-color: #fff;
    --btn-hover-background-color: #d6A800;
    --btn-hover-color: #4f3674;
    --input-border-color: #ccc;
}

body.dark-theme{
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #9c27b0;
    --h1-border-color: #9c27b0;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: #D176e1;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #D176e1;
    --btn-background-color: #D176e1;
    --btn-color: #fff;
    --btn-hover-background-color: #7d4787;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
}

a {
    color: var(--anchor-color);
    text-decoration: none;
}

a :hover {
    background-color: var(--anchor-hover-background-color);
    color: var(--anchor-hover-color);
}

h1{
    color: var(--heading-color);
    background-color: var(--h1-background-color);
    padding: 10px;
    border: 1px;
    border-color: var(--h1-border-color);
}

h2, h3, h4 {
    color: var(--heading-color);
    background-color: var(--heading-background-color);
    padding: 10px;
    border: 1px;
    border-color: var(--heading-border-color);
}





h1 {
    font-weight: 400;
    text-align: center;
}


#container {
    padding: 10px;
}

#form {
    width: 600px;
    margin: 3% auto 0;
}

#form-results {
    width: 600px;
    margin: 3% auto 0 ;
}

#results {
    text-align: center;
    font-size: 28px;
    padding: 15px;
}

#letter-results{
    text-align: center;
    font-size: 28px;
}

body {
    font-family: "Oswald", Verdana, Arial, sans-serif; 
    
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /*width: 50%;*/
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #4F3674;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: #000;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #4F3674;
    color: #fff;
}

.btn-primary:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.full-width {
    width: 100%;
}

.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}

/*Styling for the Drop down menu*/
.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*return home in exercise */
.return-home {
    color: #4F3674;
    text-decoration: none;
    padding-top: 10px;
}
/*return home in exercise */
.return-home :hover {
    background-color: #d6a800;
    color:#4F3674;
}
/*return home in exercise */
.return-home :visited {
    color: #3C275A;
}

#assign-results{
    text-align: center;
    font-size: 28px;
}

#assign-results-header{
    padding: 10px;
}


